bun.lock
a.xlsx
node_modules
/backend/.env
/backend/__pycache__
/backend/uploads
/frontend/.next
/frontend/node_modules
/frontend/README.md
/frontend/yarn-error.log
/frontend/yarn.lock
/frontend/.env
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local
/frontend/.gitignore
/frontend/next-env.d.ts
/frontend/next.config.js
/frontend/next.config.mjs